
.pagination_custom {
  padding: 10px 10px 10px 0px;
}

.pagination_custom strong, .pagination_custom a {
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 2px;
  margin: 5px 5px;
  display: inline-block;
}

.sidebar-header {
  background: #F5A711 !important;
  color: black;
}
.sidebar-header h3 {
  text-align: center;
}
#sidebar a.active, #sidebar a.active:hover, #sidebar ul li a:hover {
  background-color: #F5A711;
}

.card-header {
  background-color: #F5A711;
  color: black;
}

.btn-primary, .btn-primary:hover {
  color: black;
  background-color: #F5A711;
  border-color: #F5A711;
}

.card-body table .btn-sm {
  min-width: 105px;
  display: block;
  margin: 10px 0px;
}

#personnel_filter_listing {
  display: none;
}

#custom_call_list_listing .btn-sm {
  min-width: auto;
  width:50px;
}